<h1>New Task</h1>

<%#= render 'task_form', task: @task %>

<%= form_for @task do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div>
      <%= f.label :details %><br />
      <%= f.text_field :details %>
  </div>

  <div>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </div>

  <%= f.submit %>
<% end %>
